/**
 * BSI LINK
 * --
 * BSI link is a block containing a logo and supporting text with a link.
*/

.bsi-link {
	background-color:$color-blue-pastel;
	display:block;
	position:relative;
	min-height:86px;
	margin:20px auto;
	padding:10px;
	color:$font-color-body !important;


	&__text {
	}

	&__btn-wrap {
		overflow:hidden;
	}

	&__image {
		position:relative;
		width:100%;
		display:block;	
		margin-top:10px;	
		max-width:260px;
	}

	&__btn {
		margin-top:10px;
	}

	@include media-desktop-min {
		&__text {
			font-size:14px;
		}

		&__btn {
			float:left;
		}

	}
}

