/**
 * GALLERY
 * --
 * Gallery rotates images every few seconds.
*/


.gallery {
    &__list {
        position:relative;
    }

    &__image {
        background:#fff center center no-repeat;
        background-size:contain;
        height:100%;
        opacity: 0;
        white-space:nowrap;
        width:100%;
        @include position(absolute, 0px null null 0px);

        @include keyframes(gallery) {
            0% { opacity: 0; z-index: 100;}
            2% { opacity: 1;}
            90% { opacity: 1;}
            92% { opacity: 0;}
            100% { opacity: 0; z-index: 1}
        }
    }

    &__push-height {
        padding-top:80.55555555555556%;

    }

    &__link {

    }
}