/**
 * HERO
 * --
 * Hero is a gallery of images. it can be found on the homepage.
*/

.hero {
	background-color:$color-blue-pastel;
	position:relative;

	&__gallery {
		background-color:rgba(#000, .4);
		padding-top:54.378818737270876%;
		position:relative;
	}

	&__content {
		padding:10px;	
	}

    &__rotating-heading-list {
    	height:30px;
    	position:relative;
    	margin-bottom:10px;
    }

    &__rotating-heading {
		@include animation(hero 20.0s infinite);
		@include position(absolute, 0px null null 0px);
    	font-size:28px;
    	font-family:$font-family-tertiary;
    	font-weight:600 !important;
    	line-height:30px;    	
		opacity: 0;
		white-space:nowrap;  

		@keyframes hero {
		    0% { opacity: 0;}
		   	10% { opacity: 1;}
		   	20% { opacity: 1;}
		    25% { opacity:0;}
		    100% { opacity: 0;}
		}

		&--1 {
			@include animation-delay(0s);
		}

		&--2 {
			@include animation-delay(5s);
		}

		&--3 {	
			@include animation-delay(10s);	
		}

		&--4 {
			@include animation-delay(15s);
		}
    }

    &__intro {
    	@include type-large;
    }

    &__link {
    	margin-top:20px;
    }

	@include media-tablet-min {
		padding-right:51.90274841437632%;

	    &__rotating-heading-list {
	    	height:50px;
	    	margin-bottom:10px;
	    }

	    &__rotating-heading {
	    	font-size:50px;
	    	line-height:38px;    	
	    	font-weight:bold; 	  
	    	text-shadow:
			-1px -1px 0 $color-blue-pastel,  
			1px -1px 0 $color-blue-pastel,
			-1px 1px 0 $color-blue-pastel,
			1px 1px 0 $color-blue-pastel;
				
	    }

	    &__intro {
	    	@include type-large ($line-height:22px);
	    }

		&__gallery {
			@include position(absolute, 0px 0px null null);
			width:51.90274841437632%;
			height:100%;
			padding-top:0;
		}

		&__link {
			margin-top:40px;
			max-width:360px;
		}

		&__content {
			padding:15px;
		}
	}	

	@include media-desktop-min {
		&:after {
			@include position(absolute, null 0px 0px null);
			@include triangle(50px, #fff, down-right);
			content:'';
			display:block;
			z-index:101;
		}
	}
}


.hero-gallery {
	background-color:$color-blue-pastel;

	@include media-tablet-min {
		&:after {
			@include position(absolute, 0px null null 0px);
			box-shadow: inset 40px 0px 50px 0px rgba($color-blue-pastel , 1);
			content:'';
			display:'';
			height:100%;
			text-shadow: 2px 2px #ff0000;
			width:100%;
		}
	}

	&__image {
		@include animation(hero 28s infinite);
		@include position(absolute, 0px null null 0px);
		background:$color-blue-pastel center right no-repeat;
		background-size:cover;
		height:100%;
		opacity: 0;
		white-space:nowrap;
		width:100%;

		&--1 {
			@include animation-delay(0s);
			background-image:url('/images/hero/homepage--1.jpg');
		}

		&--2 {
			@include animation-delay(7s);
			background-image:url('/images/hero/homepage--2.jpg');
		}

		&--3 {	
			@include animation-delay(14s);	
			background-image:url('/images/hero/homepage--3.jpg');
		}

		&--4 {
			@include animation-delay(21s);
			background-image:url('/images/hero/homepage--4.jpg');
		}
	}
}