/**
 * MARKET SECTORS NAV
 * --
 * Market sectors nav is a list of the market sectors Toptubes offers.
*/


.market-sectors-nav {
	display:block;
	margin:20px auto;

	@include media-desktop-max {
		padding:10px;
		border:1px solid #aaa;
	}
}

.market-sectors-nav-list {
	display:block;
	padding-bottom:47px;

	position:relative;


	&:hover {
		&:after {
			@include filter(contrast(120%));
		}
	}


	&:after {
		@include position(absolute, null 0px -10px null);
		@include transition(filter 250ms ease-in-out, -webkit-filter 250ms ease-in-out);
		background:url('/images/car-cutaway.jpg') center center no-repeat #fff;
		background-size:cover;
		content:'';
		display:block;
		height:153px;
		width:260px;
		z-index:0;
	}

	.market-sectors-nav-item {

		&:last-child {		}
	}
}

.market-sectors-item {
	display:block;
	position:relative;
	z-index:1;

	&:nth-child(4) {
		margin-right:140px;		
	}

	&:nth-child(5), &:nth-child(6) {
		margin-right:170px;
	}

	&:after {
	}

	&__link {
		color:#000;
		display:block;
		font-size:16px;
		line-height:24px;
		padding:5px;
		border-bottom:1px dotted #000;
		position:relative;
		padding-left:20px;

		@include media-desktop-min {
			font-size:18px;
		}

		&:before {
			@include position(absolute, 5px null null 0px);
			color:#000;
			content:'»';
			display:block;
			font-size:18px;
			line-height:24px;
			height:24px;	
			@include transition(left ease-in 0.1s);
		}

		&:hover {
			text-decoration:none;
			border-bottom:1px solid #888;

			&:before {
				left:4px;
			}
		}
	}
}

