/**
 * NEWS
 * --
 * All css related to the news sections.
*/

.news-list {
	display:block;

	.news-list-item {
		margin-bottom:20px;		
	}
}

.news-list-item {
	&__link {

	}
}
.news-article {

	&__link {

	}

	&__heading {
		background-color:$color-blue-pastel;
		border-bottom:1px solid $color-blue-denim;
		padding:5px;
		font-weight:bold !important;
		margin-bottom:0 !important;

		&:hover {
			text-decoration:underline;
		}

	}

	&__date {
		@include type-small($line-height:20px);
		color:#666;
		display:block;
		margin:5px 0 10px !important;

		@include media-desktop-min {
			line-height:20px;
		}
	}

	&__intro {
		@include type-standard;
		color:$font-color-body;
		margin-bottom:5px;
	}

	&__read-more {
		font-size:16px;
		line-height:20px;
		color:$color-blue-denim;
		font-style:normal !important;
		display:block;
		font-weight:bold;

		&:after {
			content:'»';
			display:inline-block;
			font-size:16px;
			margin-left:0;
			line-height:20px;
			@include transition(margin-left ease-in 0.1s);
		}

		&:hover {
			&:after {
				margin-left:5px;
			}
		}

		@include media-desktop-min {
			font-size:18px;
			line-height:22px;

			&:after {
				content:'»';
				display:inline-block;
				font-size:18px;
				line-height:22px;
			}
		}
	}
}