/**
 * SERVICE NAV
 * --
 * Service nav is a list of the avaialbe services Toptubes offers.
*/


.service-nav {
	display:block;
}

.service-nav-list {
	display:block;
	.service-nav-item {
		margin-bottom:5px;

		&:last-child {
			margin-bottom:0;
		}
	}
}

.service-nav-item {
	display:block;
	background-color:$color-grey-plastic;
	padding-top:5px;
	padding-bottom:15px;
	padding-left:10px;
	padding-right:40px;
	position:relative;
	cursor:pointer;
	@include transition(background-color ease-in 0.1s);

	&:hover {
		background-color:tint($color-grey-plastic, 20%);
	}

	&:after {
		background-color:#fff;
		content:'';
		display:block;
		height:12px;
		width:3px;
		border-radius:5px;
        @include transform(rotate(135deg));
		@include position(absolute, 10px 10px null null);
	}

	&:before {
		background-color:#fff;
		content:'';
		display:block;
		height:12px;
		width:3px;
		border-radius:5px;
        @include transform(rotate(225deg));
		@include position(absolute, 17px 10px null null);
	}

	&__link {
		color:#000;
		display:block;
		font-size:16px;
		line-height:20px;

		@include media-desktop-min {
			font-size:20px;
			line-height:22px;
		}

		&:hover {
			text-decoration:none;
		}
	}
}

