/**
 * THUMB GALLERY
 * --
 * Thumb gallery is a listing of images. Designed for 6 images.
*/

.thumb-gallery {

	&__heading {
		@include type-h2($color:$color-blue-denim);
		background-color:$color-grey-plastic;
		padding:0 5px;

		@include media-tablet-min {
			border-top:2px solid #000;
			padding:0 10px;
		}
	}

	&__list {
		overflow:hidden;
		background-color:$color-blue-baby-boy;
			padding:10px;

		@include media-tablet-min {
		}
	}
}

.thumb-gallery-item {
	float:left;
	height:auto;
	
	&:nth-child(1), &:nth-child(2) {
		margin-top:0;
	}

	&__img {
		display:block;
		width:100%;
		height:auto;
	}

	@include media-mobile-max {
		width:49%; 


		&:not(:nth-child(even)) {
			margin-right:2%;
		}		
	}

	@include media-desktop-max {		
		margin-top:10px;
	}

	@include media-mobile-min-desktop-max {
		width:32%;

		&:nth-child(3) {
			margin-top:0;
		}
		
		&:not(:nth-child(3n)) {
			margin-right:2%;
		}
	}

	@include media-desktop-min {
		width:15%;
		
		&:not(:nth-child(6n)) {
			margin-right:2%;
		}
	}

}